.sparkle-bg {
    background: linear-gradient(45deg, #1f1c1f, #000000, #1c0c23, #000000,#1f1c1f, #000000, #1c0c23, #000000,#1f1c1f, #000000, #1c0c23, #000000,#1f1c1f, #000000, #1c0c23, #000000,#1f1c1f, #000000, #1c0c23, #000000,#1f1c1f, #000000, #1c0c23, #000000,#1f1c1f, #000000, #1c0c23, #000000,#1f1c1f, #000000, #1c0c23, #000000,#1f1c1f, #000000, #1c0c23, #000000,#1f1c1f, #000000, #1c0c23, #000000,#1f1c1f, #000000, #1c0c23, #000000,#1f1c1f, #000000, #1c0c23, #000000);
    background-size: 200% 200%;
    animation: sparkleAnimation 12s infinite;
  }
  
  @keyframes sparkleAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }